</div>
<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col-3">
        <h5 class="ruda">RUDA</h5>
        <ul class="nav flex-column" id="flex-column0">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Join The Best. Be The Best</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">INSTAGRAM TWITTER</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h5>Company</h5>
        <ul class="nav flex-column" id="flex-column1">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vacancies</a></li>
        </ul>
    </div>

    <div class="col-3">
        <h5>Services</h5>
        <ul class="nav flex-column" id="flex-column2">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For employers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Freelance</a></li>
        </ul>
    </div>

    <div class="col-3">
        <h5>Contact us</h5>
        <ul class="nav flex-column" id="flex-column3" >
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">E-mail: ruda@mail.ru</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Call-center: 87770707707</a></li>
        </ul>
    </div>
</footer>
</div>

</body>
</html>